# OpenAPI 3.0 — timeseries-reader-service v2
# Operational path: HTTPS API host + /api/timeseries/v2/* (JWT via api-gateway).
# In-cluster: http://timeseries-reader-service:5000/api/timeseries/v2/*

openapi: 3.0.3
info:
  title: Nekazari Timeseries Reader API v2
  description: |
    Historical reads from TimescaleDB (`weather_observations`, `telemetry_events`).
    Authenticated requests (JWT); tenant headers from api-gateway (`X-Tenant-ID`, `Fiware-Service`).

    **POST /v2/query**: single statement with dynamic CTEs `series_0 … series_{n-1}` and chained
    `FULL OUTER JOIN … USING (bucket)`. IoT values are read with **`payload.measurements->>key`**
    (flat JSON object keys; key bound as a parameter after whitelist check). Maximum **10** series (HTTP **413**).
    Weather column names must be in server whitelist; IoT `attribute` must match telemetry whitelist
    (extend via `TIMESERIES_V2_TELEMETRY_ATTR_WHITELIST_EXTRA`).

    **Arrow IPC:** `Accept: application/vnd.apache.arrow.stream` — `timestamp` is **Float64** Unix epoch **seconds**;
    values `value_0`…`value_{n-1}` are Float64.
  version: "2.1.1"

servers:
  - url: https://nkz.robotika.cloud/api/timeseries
    description: Via api-gateway
  - url: http://timeseries-reader-service:5000/api/timeseries
    description: In-cluster

security:
  - bearerAuth: []
  - cookieAuth: []

paths:
  /v2/entities/{entity_urn}/data:
    get:
      summary: Single-entity columnar series (URN resolved to weather or telemetry)
      parameters:
        - name: entity_urn
          in: path
          required: true
          schema:
            type: string
        - name: time_from
          in: query
          schema:
            type: string
            format: date-time
        - name: time_to
          in: query
          schema:
            type: string
            format: date-time
        - name: start_time
          in: query
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          schema:
            type: string
            format: date-time
        - name: attrs
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 5000
      responses:
        "200":
          description: JSON or Arrow IPC per Accept
        "400":
          description: Validation error

  /v2/query:
    post:
      summary: Multi-series align (mixed weather + IoT supported)
      description: |
        One SQL: CTE per series + `FULL OUTER JOIN … USING (bucket)`.
        Weather identifiers: whitelisted column names only (interpolated as `"column"` after check).
        Telemetry `attribute`: whitelisted keys under `payload.measurements` (flat JSON object), bound as parameters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - series
              properties:
                time_from:
                  type: string
                  format: date-time
                time_to:
                  type: string
                  format: date-time
                start_time:
                  type: string
                end_time:
                  type: string
                resolution:
                  type: integer
                  default: 1000
                series:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items:
                    type: object
                    required:
                      - attribute
                    properties:
                      entity_urn:
                        type: string
                      entity_id:
                        type: string
                      attribute:
                        type: string
                        description: |
                          Weather — one of server whitelist (e.g. temp_avg, humidity_avg).
                          Telemetry — one of whitelist (e.g. soilMoisture, airTemperature).
      responses:
        "200":
          description: Aligned series; JSON or Arrow per Accept
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamps:
                    type: array
                  attributes:
                    type: object
                  series_kind:
                    type: string
                    enum: [weather, telemetry, mixed]
            application/vnd.apache.arrow.stream:
              schema:
                type: string
                format: binary
        "400":
          description: Validation error
        "401":
          description: Unauthorized
        "413":
          description: Too many series (default max 10; `MAX_V2_QUERY_SERIES`)
        "503":
          description: URN resolution unavailable

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    cookieAuth:
      type: apiKey
      in: cookie
      name: nkz_token
